<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=DESKTOP-V47D6IG\SQLEXPRESS;Initial Catalog=MonsterHumter;Persist Security Info=True;User ID=MonsterHunter;Password=1234"/>
  </connectionStrings>
</configuration>